<!DOCTYPE html>
<html lang="en">
<head>
  {{> head defaultPageTitle='Untitled'}}
    <link rel="stylesheet" href="{{uiRootPath}}/css/extensions/spectaql.min.css">
    <link rel="stylesheet" href="{{uiRootPath}}/css/spectaql-ui.css">
    <script type="text/javascript" src="{{uiRootPath}}/js/vendor/spectaql.min.js"></script>
</head>
<body class="article">
{{> header}}
{{> spectaql-body}}
{{> footer}}
</body>
</html>
